@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px; 
  font-family: "Poppins";
}

body {
  background: #1b2225;
  font-family: 'Lora', 'Times New Roman', serif;
  color: #999;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* My Stuff */
.title h1 {
  color: #cdff8e;
}

.title h1:before {
  content: "/*** ";
  color: #98a8b5;
}

.title h1:after {
  content: " ***/";
  color: #98a8b5;
}

.title h2 {
  margin: 0 0 10px 0;
  font-style: italic;
}

.title h2:before {
  content: "-----------";
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.title h2:after {
  content: "-----------";
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.title p:before {
  content: "<!-- ";
  color: #e0d78b;
}

.title p:after {
  content: " -->";
  color: #e0d78b;
}

hr {
  border-top: 2px solid #fff;
}

blockquote {
  min-width: 320px;
  padding: 25px;
  margin: 15px auto;
  background: #62658a;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.4);
}

blockquote a {
  display: inline-block;
  margin-bottom: 25px;
  color: #b299ff;
  padding: 3px;
  background: rgba(0, 0, 0, 0.2);
}

blockquote a:hover {
  background: rgba(0, 0, 0, 0.4);
  border: 0;
}

blockquote a:before {
  content: "<=";
  color: #fff;
}

blockquote a:after {
  content: "=>";
  color: #fff;
}

/* Continue */

p {
  line-height: 1.5;
  margin: 30px 0;
}


.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav>li.nav-item>a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav>li.nav-item>a {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-nav>li.nav-item>a:focus,
  #mainNav .navbar-nav>li.nav-item>a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
  #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
    color: #0085A1;
  }

  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading {
  padding: 200px 0 150px;
  color: white;
}

header.masthead .site-heading {
  padding: 80px 0 30px;
}

@media only screen and (min-width: 768px) {

  header.masthead .page-heading,
  header.masthead .post-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 40px;
  margin-top: 0;
}

header.masthead .site-heading h1 {
  margin-bottom: 50px;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {

  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 30px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }

  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}



.post-preview>a {
  color: #fff;
}

.post-preview>a:focus,
.post-preview>a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview>a>.post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview>a>.post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview>.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview>a {
  text-decoration: none;
  color: #212529;
}

.post-preview>.post-meta>a:focus,
.post-preview>.post-meta>a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview>a>.post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  /* Ignored 
    vertical-align: middle;
    vertical-align: baseline;
    */
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  margin-top: 100px;
  height: 50px;
  margin-bottom: 100px;
  background-color: #1b2225;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 8px 15px;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-primary {
  background-color: #4F5165;
  border-color: #4F5165;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #9395D3 !important;
  border-color: #9395D3 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.form-control{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
.formArea{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.input-group{
  width: 230px;
}

/* Admin Page */
.central-admin {
  margin-top: 100px;
  margin-bottom: 50px;
}

.central-admin a {
  margin-top: 50px;
  color: rgb(153, 153, 153);
}

.allPosts a {
  color: #ada9a9;
}

.allPosts a:hover {
  color: #fff;
}

/* If needed later
  .singularPost{
    
  }
  */
#logoutClick {
  cursor: pointer;
}

/* Popup */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container p {
  padding: 3em 1em;
}

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.cd-popup-container .cd-buttons button {
  float: left;
  width: 50%;
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #111;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}


.cd-popup-container .cd-buttons #si{
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}


.cd-popup-container .cd-buttons{
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

#showContent{
  visibility: hidden;
}
#texter{
  width: 50%;
}
.sloganArea{
  width: 100%;
  display:flex;
  justify-content: center;
}