.logo{
display:block;
text-indent:10000px;
overflow:hidden;
background: url(../projects/spacegame/img/needscrop/LoadingScreen.jpg) center center no-repeat;
background-position-y:50%;
height:100%;
width:100%;
}